* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #c4d2f5;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.player {
  display: flex;
  width: 440px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
}

.player-track-title {
  color: #000;
  font-size: 18px;
}

.player-track-artist,
.player-progress {
  color: #909090;
  font-size: 15px;
  text-align: center;
}

.player-button {
  display: flex;
  width: 74px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  background: #e783bc;
}
